.form{
  width: 30%;
  background-color: rgb(146, 170, 252);
  height : fit-content;
  gap: 30px;

}

.container{
  border: 2px solid rgb(0, 56, 129);
  border-radius: 15px;
  
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  
}

