.form{
  width: 30%;
  background-color: rgb(146, 170, 252);
  height : fit-content;
  gap: 30px;
  

}

.container{
  border: 2px solid rgb(146, 189, 245);
  border-radius: 25px;
  
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-weight: 700;
  font-size: 45px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}


/* App.css */

.container {
  margin: 0 auto;
  max-width: 800px;
}

.form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #5ca2e4;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}




